Node red flow.json
[{"id":"fca6bffb.66bcd","type":"tab","label":"Soldier health monitoring system","disabled":false,"info":""},{"id":"e0b69141.0d2b3","type":"ui_worldmap","z":"fca6bffb.66bcd","group":"7d8c3655.bee258","order":7,"width":12,"height":9,"name":"Soldier location","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":740,"y":440,"wires":[]},{"id":"d0d2967.1e87a68","type":"function","z":"fca6bffb.66bcd","name":"Location","func":"return{\n    payload: {\n    name: global.get('name'),  \n    lat: global.get('la'),\n    lon: global.get('lo')\n  }\n\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":440,"wires":[["e0b69141.0d2b3","fe634b43.36bff8"]]},{"id":"6a568674.810098","type":"ibmiot in","z":"fca6bffb.66bcd","authentication":"apiKey","apiKey":"16e467e9.e2e878","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"500062","applicationId":"","deviceType":"VITDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":460,"wires":[["ff4a4530.2468d8","753a0fc0.d7d25","3ff2ec92.f73c44"]]},{"id":"ff4a4530.2468d8","type":"function","z":"fca6bffb.66bcd","name":"Latitude","func":"msg.payload = msg.payload.lat\nglobal.set('la',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":460,"wires":[["d0d2967.1e87a68"]]},{"id":"753a0fc0.d7d25","type":"function","z":"fca6bffb.66bcd","name":"Longitude","func":"msg.payload = msg.payload.lon\nglobal.set('lo',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":500,"wires":[["d0d2967.1e87a68"]]},{"id":"735f0a28.fbb154","type":"function","z":"fca6bffb.66bcd","name":"Text: Pulse rate","func":"var p = global.get('p',msg.payload)\n\nif(p<60){\n   msg.payload=\"MEDICAL ATTENTION:Soldier has low pulserate\";\n}\nelse if(p>100){\n   msg.payload=\"MEDICAL ATTENTION:Soldier has high pulserate\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":280,"wires":[["55c8f25f.3faa4c"]]},{"id":"fe634b43.36bff8","type":"geofence","z":"fca6bffb.66bcd","name":"","mode":"circle","inside":"both","rad":317372.15285320044,"points":[],"centre":{"latitude":16.29905101458183,"longitude":79.541015625},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":520,"y":500,"wires":[["c87ea4ea.809048"]]},{"id":"5d75bc62.329164","type":"ui_toast","z":"fca6bffb.66bcd","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":750,"y":560,"wires":[[]]},{"id":"3ff2ec92.f73c44","type":"function","z":"fca6bffb.66bcd","name":"Name","func":"msg.payload = msg.payload.name\nglobal.set('name',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":420,"wires":[["d0d2967.1e87a68"]]},{"id":"f2507fb.b76ea8","type":"switch","z":"fca6bffb.66bcd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":580,"wires":[["ac63ca88.381ec8"],["7aaf299d.21ad78"]]},{"id":"c87ea4ea.809048","type":"function","z":"fca6bffb.66bcd","name":"","func":"msg.payload=msg.location.inarea\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":580,"wires":[["1a8d1481.7a307b"]]},{"id":"7aaf299d.21ad78","type":"function","z":"fca6bffb.66bcd","name":"","func":"\n\nmsg.payload = {\n    \"name\": global.get('name'),\n    \"temperature\": global.get('t'),\n    \"pulserate\":global.get('p'),\n    \"latitude\": global.get('la'),\n    \"longitude\": global.get('lo')\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":600,"wires":[["eb054bd.238dab8"]]},{"id":"eb054bd.238dab8","type":"debug","z":"fca6bffb.66bcd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":600,"wires":[]},{"id":"ac63ca88.381ec8","type":"function","z":"fca6bffb.66bcd","name":"","func":"msg.payload = \"Soldier is not in the required area\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":560,"wires":[["5d75bc62.329164","18c25e4c.8828b2"]]},{"id":"1a8d1481.7a307b","type":"rbe","z":"fca6bffb.66bcd","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":310,"y":580,"wires":[["f2507fb.b76ea8"]]},{"id":"18c25e4c.8828b2","type":"debug","z":"fca6bffb.66bcd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":520,"wires":[]},{"id":"55c8f25f.3faa4c","type":"debug","z":"fca6bffb.66bcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"411c97b5.cdfb48","type":"function","z":"fca6bffb.66bcd","name":"Text: Temperature","func":"var t = global.get('t',msg.payload)\n\nif(t<97){\n   msg.payload=\"MEDICAL ATTENTION:Soldier has low body temperature\";\n}\nelse if(t>99){\n   msg.payload=\"MEDICAL ATTENTION:Soldier has high body temperature\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":320,"wires":[["55c8f25f.3faa4c"]]},{"id":"dd47671d.708f58","type":"function","z":"fca6bffb.66bcd","name":"Text: Blood Pressure","func":"var d = global.get('d',msg.payload)\n\nif(d<100){\n   msg.payload=\"MEDICAL ATTENTION:Soldier has low Blood pressure\";\n}\nelse if(d>130){\n   msg.payload=\"MEDICAL ATTENTION:Soldier has high blood pressure\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":360,"wires":[["55c8f25f.3faa4c"]]},{"id":"eb0a0382.f8887","type":"debug","z":"fca6bffb.66bcd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":260,"wires":[]},{"id":"5f94e687.e51218","type":"ibmiot in","z":"fca6bffb.66bcd","authentication":"apiKey","apiKey":"16e467e9.e2e878","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"500062","applicationId":"","deviceType":"VITDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":180,"wires":[["8c0dee71.9a946","d4e3180f.200f08","d6704a14.70d478","735f0a28.fbb154","411c97b5.cdfb48","dd47671d.708f58","7bdb72f.0b91c8c"]]},{"id":"8c0dee71.9a946","type":"function","z":"fca6bffb.66bcd","name":"Temperture","func":"//Body temperature of soldiers is measured in °Fehrenheit\nmsg.payload = msg.payload.temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":140,"wires":[["eb0a0382.f8887","b7efd811.a993b8"]]},{"id":"d4e3180f.200f08","type":"function","z":"fca6bffb.66bcd","name":"Pulse rate","func":"//Pulse rate is measured in beats per minute\nmsg.payload = msg.payload.pulserate\nglobal.set('p',msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":100,"wires":[["eb0a0382.f8887","6bbc5e67.394c5"]]},{"id":"6bbc5e67.394c5","type":"ui_gauge","z":"fca6bffb.66bcd","name":"","group":"7d8c3655.bee258","order":5,"width":12,"height":6,"gtype":"gage","title":"Pulse rate","label":"beats per minute","format":"{{value}}","min":"40","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":100,"wires":[]},{"id":"b7efd811.a993b8","type":"ui_chart","z":"fca6bffb.66bcd","name":"","group":"7d8c3655.bee258","order":1,"width":12,"height":6,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Temperature values are taken in Fahrenheit","dot":false,"ymin":"90","ymax":"110","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#189a18","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":140,"wires":[[]]},{"id":"d6704a14.70d478","type":"function","z":"fca6bffb.66bcd","name":"Blood pressure","func":"msg.payload = msg.payload.bloodpressure\nglobal.set('b',msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["eb0a0382.f8887","73a96489.49fb7c"]]},{"id":"73a96489.49fb7c","type":"ui_text","z":"fca6bffb.66bcd","group":"7d8c3655.bee258","order":3,"width":0,"height":0,"name":"Blood pressure","label":"Blood pressure in mm Hg:","format":"{{msg.payload}}","layout":"col-center","x":720,"y":180,"wires":[]},{"id":"7bdb72f.0b91c8c","type":"function","z":"fca6bffb.66bcd","name":"Diastolic","func":"msg.payload = msg.payload.diastolic\nglobal.set('d',msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":220,"wires":[[]]},{"id":"ab71cd92.d1b5","type":"cloudant out","z":"fca6bffb.66bcd","name":"Soldier health data","cloudant":"","database":"soldier_health","service":"node-red-fmbdf-2021--cloudant-1626035526335-15000","payonly":true,"operation":"insert","x":690,"y":700,"wires":[]},{"id":"e4257fbd.fa42f","type":"function","z":"fca6bffb.66bcd","name":"Cloudant data","func":"msg.payload = {\n    \"name\": global.get('name'),\n    \"temperature\": global.get('t'),\n    \"pulse rate\":global.get('p'),\n    \"blood pressure\":global.get('b'),\n    \"latitude\": global.get('la'),\n    \"longitude\": global.get('lo')\n  }\n  \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":700,"wires":[["ab71cd92.d1b5"]]},{"id":"5c347227.659abc","type":"ibmiot in","z":"fca6bffb.66bcd","authentication":"apiKey","apiKey":"16e467e9.e2e878","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"500062","applicationId":"","deviceType":"VITDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":700,"wires":[["e4257fbd.fa42f"]]},{"id":"7d8c3655.bee258","type":"ui_group","name":"Data","tab":"7c99fbb5.d4cc74","order":1,"disp":true,"width":12,"collapse":false},{"id":"16e467e9.e2e878","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7c99fbb5.d4cc74","type":"ui_tab","name":"Soldier Health","icon":"dashboard","disabled":false,"hidden":false}]